@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.container{
    display: flex;
    flex-direction: row; 
    justify-content: space-between;   
    margin: auto;
    width: 1100px;
    height: 58vh;
    background-color: #CDB4DB;    
    border: solid black 3px;
    text-align: left;
    font-size: small;
    font-family: 'Mali', cursive;
    border-radius: 22px;
}
.leftbox{
    display: flex;
    border-right: solid black 4px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 60%;
} 
.rightbox{
    background-color: #F8AD9D;
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
    justify-content: center;
    width: 40%;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;

}

.input{
    font: inherit;
    background-color: #FDFDFD;
    border: 2px solid black;
    width: 56%;
    display: block;
    height: 28px;
    text-align: left;
    margin: 0.8rem auto;
    padding: 0.25rem;
    padding-left: 12px;
  border-radius: 10px;

}

.loginbutton{
    cursor: pointer;
  font: inherit;
  color: black;
  background-color: #F8AD9D;
  border: 2px solid #050505;
  border-radius: 8px;
  width: 314px;
  height: 38px;
  margin-top: 8px;
}

.link{
    cursor: pointer;
    border: none;
    background-color: #ece7f3;
    font-size: 1.1rem;
    font-weight: lighter;
}

.h1{
    font-weight: 400;
}
.adventure{
    font-weight: 400;
    margin-bottom: 0px;
    font-size: 1.8rem;
}
.started{
    font-weight: 400;
    margin-top: 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    color: #3a3535;
}
.noaccount{
    font-weight: 400;
    font-size: 1.3rem;
    margin-top: 0px;
    
}
.image{
    margin: 0;
}
.signupbutton{
    cursor: pointer;
  font: inherit;
  color: black;
  background-color: #CDB4DB;
  border: 2px solid #050505;
  border-radius: 8px;
  padding: 0.6rem 1.8rem;
  width: 200px;
  font-size: large;
}
.googlebutton{
    background-color: #FDFDFD;
    border: 2px solid black;
    width: 56%;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Mali', cursive;
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;

}
.google{
    height: 30px;
    margin-right: 7px;
}
.password{
    font-size: large;
    margin-top: 1.5rem;
    cursor: pointer;
}


