.nav{
    position: fixed;
}
.test{
    position: fixed;
    right: 0.5px;
    
}
.ul{
    list-style: none;    
    background-color: brown;
    margin: 0px;
    position: relative;

    /* z-index: 200; */
}
.li{
    text-decoration: none;
}

.button{
    border: none;
   
    cursor: pointer;
}