.nav{
    position: fixed;
}
.test{
    position: fixed;
    right: 0.5px;
    
}
.ul{
    position: relative;
    display: flex;
    margin-left: 20px;
    justify-content: end;
}
.left{
    display: flex;
}
.button{
    border: none;
    background: none;
    cursor: pointer;
}
.image{
    height: 70px;
    margin: 1rem;
    transition: all .3s

}
.image:hover{
    box-shadow: 0px 15px 25px -5px rgba(darken(rgb(0, 0, 0), 40%));
    transform: scale(1.09);
}
.image:active{
    box-shadow: 0px 4px 8px rgba(darken(rgb(0, 0, 0), 30%));
    transform: scale(.92);
}
