.nav{
    position: fixed;
}
.test{
    position: fixed;
    right: 0.5px;
    
}
.ul{
    position: relative;
    display: flex;
    margin-left: 20px;
    justify-content: end;
}
.left{
    display: flex;
}
.button{
    border: none;
    background: none;
    cursor: pointer;

}
.image{
    height: 70px;
    margin: 1rem;
}