@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.dp{
    height:40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #aa84c7;
}
.post{
    height:70px;
    width: 50px;
    border: 2px solid rgb(79, 79, 79);
    border-radius: 8px;
    margin-bottom: 1rem;
    margin-left: 0.5rem;

}
.notific{
    display: flex;
    align-items: center;
    margin-bottom: 0.3rem;
    justify-content: center;
    /* background-color: aqua; */
}
.border{
    height: 1px;
    background: rgb(110, 108, 108);
    width: 18rem;
    margin-top: 1rem;
}
.middle{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}
.info{
    margin: 0;
    margin-bottom: 0.5rem;
    font-family: 'Mali', cursive;
    font-size: medium;
    color: rgb(23, 18, 81);
}
.date{
    margin: 0;
    font-size: small;
    font-family: 'Montserrat', sans-serif;
    color: rgb(73, 73, 73);
}
.container{
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 82rem;
    width: 28rem;
    margin-top: 2rem;
    align-items: center;
    background: #ffe5d9;
    border: solid black 2px;
    border-radius: 12px;
    height: 45rem;
    overflow-y: scroll;
    padding: 2rem 0.5rem 1rem 0.5rem;
}
.head{
    font-family: 'Mali', cursive;
    color: rgb(51, 51, 54);
}