@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.container{
    text-align: center;
}
.dp{
    width: 240px;
    height: 240px;
    border: solid rgb(72, 74, 74) 3px;
    border-radius: 22px;     
}
.dpbg{
    width: fit-content;
    padding: 2.4rem;
    border: solid rgb(72, 74, 74) 3px;
    border-radius: 22px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2393caf9' fill-opacity='0.59' fill-rule='evenodd'%3E%3Cpath d='M0 0h35v35H0V0zm5 5h25v25H5V5zm5 5h15v15H10V10zm5 5h5v5h-5v-5zM40 5h25v25H40V5zm5 5h15v15H45V10zm5 5h5v5h-5v-5zM70 35H35v35h35V35zm-5 5H40v25h25V40zm-5 5H45v15h15V45zm-5 5h-5v5h5v-5zM30 40H5v25h25V40zm-5 5H10v15h15V45zm-5 5h-5v5h5v-5z'/%3E%3C/g%3E%3C/svg%3E");   
}
.namediv{
    display: flex;
    flex-direction: row;
    margin: 3rem auto;
    justify-content: center;
    /* width: fit-content; */
}
.username{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    margin: 0px;
    font-size: 2.5rem;
    color: rgb(46, 49, 49);
    display: inline-block;
    margin-right: 20px;
}
.unameupdate{
    height: 25px;
    display: block;
    border-radius: 50%;
    border: solid black 2px;
    cursor: pointer;
    padding: 4px;
    margin-top: 20px;
    background-color: white;
    transition: all .3s
}
.unameupdate:hover{
    box-shadow: 0px 15px 25px -5px rgba(darken(rgb(0, 0, 0), 40%));
    transform: scale(1.1);
}
.unameupdate:active{
    box-shadow: 0px 4px 8px rgba(darken(rgb(0, 0, 0), 30%));
    transform: scale(.98);
}
.bio{
    font-family: 'Mali', cursive;
    font-size: 1.7rem;
    font-style: italic;
    margin-bottom: 4.5rem;
}
.quote{
    height: 75px;
}
.about{
    border: solid rgb(72, 74, 74) 3px;
    padding: 0.5rem;
    margin: 2rem;
    border-radius: 16px;
    display: inline-block;
    background-color: aliceblue;
}
.aboutborder{
    padding: 0.6rem;
    margin-bottom: 3rem;
    border: solid rgb(72, 74, 74) 3px;
    border-radius: 16px;
    display: inline-block;
    background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%2393caf9' fill-opacity='0.59' fill-rule='evenodd'%3E%3Cpath d='M0 0h35v35H0V0zm5 5h25v25H5V5zm5 5h15v15H10V10zm5 5h5v5h-5v-5zM40 5h25v25H40V5zm5 5h15v15H45V10zm5 5h5v5h-5v-5zM70 35H35v35h35V35zm-5 5H40v25h25V40zm-5 5H45v15h15V45zm-5 5h-5v5h5v-5zM30 40H5v25h25V40zm-5 5H10v15h15V45zm-5 5h-5v5h5v-5z'/%3E%3C/g%3E%3C/svg%3E");
}
.infodiv{
    display: flex;
    margin: 1.5rem;
}
.info{
    font-family: 'Mali', cursive;
    font-size: 1.3rem;
    font-weight: normal;
    margin: 0px;
    margin-left: 20px;
    margin-top: 12px;
}
.infoimg{
    height: 50px;
}
.dpsettings{
    height: 25px;
    display: block;
    margin-left: 59%;
    border-radius: 50%;
    border: solid black 2px;
    cursor: pointer;
    padding: 4px;
    background-color: white;
    transition: all .3s
}
.dpsettings:hover{
    box-shadow: 0px 15px 25px -5px rgba(darken(rgb(0, 0, 0), 40%));
    transform: scale(1.1);
}
.dpsettings:active{
    box-shadow: 0px 4px 8px rgba(darken(rgb(0, 0, 0), 30%));
    transform: scale(.98);
}

.settings{
    border-radius: 50%;
    padding: 0.5rem;
    border: solid black 2px;
    position: fixed;
    top: 90%;
    left: 94%;
    margin-bottom: 2rem;
    cursor: pointer;
    background-color: white;
    transition: all .3s

}
.biosettings{    
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.settings:hover{
    box-shadow: 0px 15px 25px -5px rgba(darken(rgb(0, 0, 0), 40%));
    transform: scale(1.05);
}
.settings:active{
    box-shadow: 0px 4px 8px rgba(darken(rgb(0, 0, 0), 30%));
    transform: scale(.98);
}

