@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


.profile{
    padding-top: 11rem;
}
.heading{
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 2.5rem;
    color: rgb(46, 49, 49);
    text-align: center;
    margin: 10rem 0px;
}