
.container{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.head{
    font-weight: 300;
    font-size: 1.7rem;
}
.input{
    border: solid black 2px;
    border-radius: 7px;
    height: 35px;
    width: 80%;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding-left: 15px;
    color: rgb(92, 92, 92);
    margin: 1rem auto;
    background-color: #f4f0f6;
}
.updatebtn{
    background-color: #CDB4DB;
    border-radius: 5px;
    cursor: pointer;
    border: solid black 2px; 
    color: black;
    padding: 0.4rem 2rem;
    font-family: Mali, cursive;
    font-size: 1.1rem;
    width: fit-content;
    margin: auto;
    transition: all .3s
}
.loadbtn{
    background-color: #CDEAC0;
    border-radius: 5px;
    cursor: pointer;
    border: solid black 2px; 
    color: black;
    padding: 0.4rem 2rem;
    font-family: Mali, cursive;
    font-size: 1.1rem;
    width: fit-content;
    margin: 2rem;
    transition: all .3s
}
.loadbtn:hover{
    box-shadow: 0px 15px 25px -5px rgba(darken(dodgerblue, 40%));
    transform: scale(1.03);
}
.loadbtn:active{
    box-shadow: 0px 4px 8px rgba(darken(dodgerblue, 30%));
    transform: scale(.98);
}

.commentbox{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0.9rem 0.3rem;
    border-bottom: solid rgb(148, 137, 137) 1px;
    padding-bottom: 0.4rem;
}
.dp{
    height: 20px;
    width: 20px;
    border-radius: 6px;
    border: solid #b790d4 2px;
}
.user{
    margin: 0px 0.6rem;
    font-weight: 600;
    color: rgb(62, 60, 64);
    font-size: 1rem;
    margin-top: 3px;
}
.comment{
    margin: 0px;
    text-align: left;
    margin-top: 3px;
}
.updatebtn:hover{
    box-shadow: 0px 15px 25px -5px rgba(darken(dodgerblue, 40%));
    transform: scale(1.03);
}
.updatebtn:active{
    box-shadow: 0px 4px 8px rgba(darken(dodgerblue, 30%));
    transform: scale(.98);
}
.delete{
    height: 16px;
    cursor: pointer;
    transition: all .3s;
}
.hide_delete{
    height: 16px;
    cursor: pointer;
    transition: all .3s;
    visibility: hidden;
}
.delete:hover{
    box-shadow: 0px 15px 25px -5px rgba(darken(dodgerblue, 40%));
    transform: scale(1.1);
}
.delete:active{
    box-shadow: 0px 4px 10px rgba(darken(dodgerblue, 30%));
    transform: scale(.98);
}
.align{
    display: flex;
}
.align_user{
    display: flex;
}
@media screen and (max-width: 690px){
    .head{
        font-weight: 300;
        font-size: 1.5rem;
    }
    .updatebtn{
        padding: 0.3rem 1rem;
        font-size: 0.8rem;
    }
    .comment{
        font-size: small;
        margin-left: 1.8rem;
    }
    .user{
        font-size: 0.8rem;
        color: black;
        letter-spacing: 1px;
    }
    .align{
        display: flex;
        flex-direction: column;
    }
    .align_user{
        display: flex;
        margin-bottom: 0.5rem;
    }
    .input{

        height: 25px;
        width: 85%;
        font-size: 0.7rem;
        padding-left: 15px;
    
    }
}
@media screen and (max-width: 480px){
    .dp{
        height: 17px;
        width: 17px;
        border-radius: 50%;
        border: solid #b790d4 1px;
    }
    .head{
        font-weight: 300;
        font-size: 1.1rem;
    }
}