@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.feed{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.userfeed{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post{
    background-color: #e7edf0;
    width: 500px;
    padding: 1.4rem;
    margin-bottom: 3rem;
    /* margin-left: 9rem; */
    border-radius: 15px;
    background-image: repeating-linear-gradient(0deg, #aa84c7, #aa84c7 16px, transparent 16px, transparent 25px, #aa84c7 25px), repeating-linear-gradient(90deg, #aa84c7, #aa84c7 16px, transparent 16px, transparent 25px, #aa84c7 25px), repeating-linear-gradient(180deg, #aa84c7, #aa84c7 16px, transparent 16px, transparent 25px, #aa84c7 25px), repeating-linear-gradient(270deg, #aa84c7, #aa84c7 16px, transparent 16px, transparent 25px, #aa84c7 25px);
    background-size: 3px 100%, 100% 3px, 3px 100% , 100% 3px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
}
.Userpost{
    background-color: #e7edf0;
    width: 500px;
    padding: 1.4rem;
    margin-bottom: 3rem;    
    border-radius: 15px;
    background-image: repeating-linear-gradient(0deg, #aa84c7, #aa84c7 16px, transparent 16px, transparent 25px, #aa84c7 25px), repeating-linear-gradient(90deg, #aa84c7, #aa84c7 16px, transparent 16px, transparent 25px, #aa84c7 25px), repeating-linear-gradient(180deg, #aa84c7, #aa84c7 16px, transparent 16px, transparent 25px, #aa84c7 25px), repeating-linear-gradient(270deg, #aa84c7, #aa84c7 16px, transparent 16px, transparent 25px, #aa84c7 25px);
    background-size: 3px 100%, 100% 3px, 3px 100% , 100% 3px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
}
.user{
    display: flex;
    flex-direction: row;
}
.dp{
    height: 35px;
    width: 35px;
    border-radius: 6px;
    border: solid #aa84c7 2px;
    margin-left: 8px;

}
.username{
    /* font-family: 'Mali', cursive; */
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 22px;
    font-size: large;
    margin-left: 1.5rem;
    color: #51555C;
    letter-spacing: 0.1rem;
}
.text{
    font-family: 'Mali', cursive;
    /* font-weight: 8rem; */
    font-size: 1.2rem;
    margin-top: 0px;
    margin-bottom: 25px;
    margin-left: 7px;
    margin-right: 6px;
    color: #292a2c;
    text-align: justify;
}
.postedimg{
    height: 560px;
    width: 500px;
    border: solid rgb(67, 67, 67) 2px;
    border-radius: 10px;
}
.date{
    font-family: 'Poppins', sans-serif;
    color: #51555C;
    font-size: small;
    margin: 0px;
    display: inline-block;
    font-weight: 300;
}
.bottom{
    display: flex;
    justify-content: space-between;
}
.timestamp{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
}
.button{
    border: none;
    background-color: #e7edf0;
}
.like_comment{
    display: flex;
    align-items: flex-start;
}
.imgbtn{
    height: 40px;
    cursor: pointer;
    transition: all .3s
}
.imgbtn:hover{
    box-shadow: 0px 15px 25px -5px rgba(darken(rgb(0, 0, 0), 40%));
    transform: scale(1.1);
}
.imgbtn:active{
    box-shadow: 0px 4px 8px rgba(darken(rgb(0, 0, 0), 30%));
    transform: scale(.98);
}
.likes{
    margin: 0px;
    font-family: 'Mali', cursive;
    cursor: pointer;
    color: #383b40;
}