@import url('https://fonts.googleapis.com/css2?family=Mali:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.feed{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.userfeed{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.post{
    background-color: #e7edf0;
    width: 480px;
    padding: 1.8rem;
    margin-bottom: 3rem;
    border-radius: 15px;
    background-image: repeating-linear-gradient(0deg, #aa84c7, #aa84c7 16px, transparent 16px, transparent 25px, #aa84c7 25px), repeating-linear-gradient(90deg, #aa84c7, #aa84c7 16px, transparent 16px, transparent 25px, #aa84c7 25px), repeating-linear-gradient(180deg, #aa84c7, #aa84c7 16px, transparent 16px, transparent 25px, #aa84c7 25px), repeating-linear-gradient(270deg, #aa84c7, #aa84c7 16px, transparent 16px, transparent 25px, #aa84c7 25px);
    background-size: 3px 100%, 100% 3px, 3px 100% , 100% 3px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
}
.Userpost{
    background-color: #e7edf0;
    width: 500px;
    padding: 1.4rem;
    margin-bottom: 3rem;    
    border-radius: 15px;
    background-image: repeating-linear-gradient(0deg, #aa84c7, #aa84c7 16px, transparent 16px, transparent 25px, #aa84c7 25px), repeating-linear-gradient(90deg, #aa84c7, #aa84c7 16px, transparent 16px, transparent 25px, #aa84c7 25px), repeating-linear-gradient(180deg, #aa84c7, #aa84c7 16px, transparent 16px, transparent 25px, #aa84c7 25px), repeating-linear-gradient(270deg, #aa84c7, #aa84c7 16px, transparent 16px, transparent 25px, #aa84c7 25px);
    background-size: 3px 100%, 100% 3px, 3px 100% , 100% 3px;
    background-position: 0 0, 0 0, 100% 0, 0 100%;
    background-repeat: no-repeat;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.user{
    display: flex;
}
.dp{
    height: 30px;
    width: 30px;
    border-radius: 6px;
    border: solid #aa84c7 2px;
    margin-left: 8px;

}
.username{
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 22px;
    font-size: 1rem;
    margin-left: 1rem;
    color: #51555C;
    letter-spacing: 0.1rem;
}
.text{
    font-family: 'Mali', cursive;
    font-size: 1.2rem;
    margin-top: 0px;
    margin-bottom: 25px;
    margin-left: 7px;
    margin-right: 6px;
    color: #292a2c;
    text-align: justify;
}
.postedimg{
    height: 600px;
    width: 480px;
    border: solid rgb(67, 67, 67) 2px;
    object-fit: contain;
    background-color: #f3f3f3;
}
.date{
    font-family: 'Montserrat', sans-serif;
    color: #51555C;
    font-size: small;
    margin: 0px;
    display: inline-block;
    font-weight: 300;
}
.bottom{
    display: flex;
    justify-content: space-between;
}
.timestamp{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    align-items: center;
}
.button{
    border: none;
    background-color: #e7edf0;
}
.btn{
    border: none;
    margin-bottom: 12px;
    background-color: #e7edf0;
}
.hidebtn{
    border: none;
    margin-bottom: 12px;
    background-color: #e7edf0;
    visibility: hidden;
}
.like_comment{
    display: flex;
    align-items: flex-start;
}
.deletebtn{
    height: 20px;
    cursor: pointer;
    transition: all .3s
}
.imgbtn{
    height: 40px;
    cursor: pointer;
    transition: all .3s
}
.imgbtn:hover{
    box-shadow: 0px 15px 25px -5px rgba(darken(rgb(0, 0, 0), 40%));
    transform: scale(1.1);
}
.imgbtn:active{
    box-shadow: 0px 4px 8px rgba(darken(rgb(0, 0, 0), 30%));
    transform: scale(.98);
}
.likes{
    margin: 0px;
    font-family: 'Mali', cursive;
    cursor: pointer;
    color: #383b40;
}
.comment_section{
    display: flex;
    align-items: center;
    border: solid black 1px;
    border-radius: 8px;
    padding: 0.4rem 0rem;
    margin-top: 1rem;
    background-color: #f3f3f3;
}
.input{
    width: 99%;
    border: none;
    height: 30px;
    background: none;
    font-family: 'Montserrat', sans-serif;
    color: #292a2c;
    padding-left: 15px;
    font-size: 0.9rem;
    outline: none;

}
.post_btn{
    height: 30px;
    width: 48px;
    cursor: pointer;
}
.comment_div{
    display: flex;
    align-items: flex-start;
    font-family: 'Mali', cursive;
    margin-top: 1rem;
    background-color: #f3f3f3;
    border: solid #aa84c7 2px;
    border-radius: 9px;
    padding: 0.5rem 1rem;
}
.comment_user{
    display: flex;    
}
.comment_dp{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: solid rgb(91, 90, 90) 2px;
}
.comment_username{
    margin: 0px 8px;
    font-size: 0.8rem;
    font-family: 'Montserrat', sans-serif;
    margin-top: 4px;
}
.comment_text{
    margin: 0px;
    width: 400px;
}

@media screen and (max-width: 730px){
    
    .post{
        width: 370px;
        padding: 0.8rem;
        padding-bottom: 1.3rem;
        margin-bottom: 3rem;
        border-radius: 15px;
        text-align: center;
    }
    .Userpost{
        width: 250px;
        padding: 0rem;
        margin-bottom: 3rem;    
        border-radius: 15px;
    }
    .dp{
        height: 25px;
        width: 25px;
        border-radius: 6px;
        margin-left: 8px;    
    }
    .username{
        margin-bottom: 22px;
        font-size: 0.7rem;
        margin-left: 1rem;
    }
    .text{
        font-size: 0.9rem;
        width: 95%;
        margin: auto;
        margin-bottom: 20px;
        letter-spacing: 0.5px;
    }
    .postedimg{
        height: 440px;
        width: 93%;
    }
    .date{
        font-size: x-small;
    }
    .timestamp{
        margin-right: 20px;
        margin-top: 8px;
    }
    .btn{
        margin-bottom: 12px;
    }
    .hidebtn{
        margin-bottom: 12px;
        visibility: hidden;
    }
    .deletebtn{
        height: 10px;
    }
    .user{
        margin-top: 5px;

    }
    .imgbtn{
        height: 30px;
    }
    .likes{
        margin: 0px;
        font-size: x-small;
    }
    .like_comment{
        margin-left: 12px;
        margin-top: 2px;
    }
    .comment_section{
        padding: 0.1rem 0rem;
        width: 90%;
        margin: auto;
        margin-top: 1rem;
    }
    .input{
        height: 28px;
        padding-left: 15px;
        font-size: 0.8rem;   
    }
    .post_btn{
        height: 25px;
        width: 43px;
        cursor: pointer;
    }
    .comment_username{
        margin: 0px 8px;
        font-size: 0.7rem;
        font-family: 'Montserrat', sans-serif;
        margin-top: 4px;
    }
    .comment_text{
        margin: 0px;
        width: 400px;
        text-align: left;
        margin-left: 2px;
        font-size: 0.8rem;
    }
    .comment_div{
        display: flex;
        align-items: flex-start;
        padding: 0.5rem 1rem;
        width: 81%;
        margin: auto;
        margin-top: 1rem;
    }
}
@media screen and (max-width: 450px){
    .input{
        height: 25px;
        padding-left: 15px;
        font-size: 0.7rem;   
    }
    .comment_div{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0.5rem 1rem;
        width: 81%;
        margin: auto;
        margin-top: 1rem;
    }
    .comment_dp{
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: solid rgb(91, 90, 90) 2px;
    }
    .comment_text{
        margin: 0px;
        width: 100%;
        margin-top: 7px;
        margin-left: 7px;
    }
    .post{
        width: 300px;
    }
    .postedimg{
        height: 390px;
        width: 95%;
    }
}
@media screen and (max-width: 360px){
    .post{
        width: 240px;
    }
    .postedimg{
        height: 310px;
        width: 95%;
    }
    .text{
        font-size: 0.7rem;
        width: 95%;
        margin: auto;
        margin-bottom: 20px;
        letter-spacing: 0.5px;
    }
    .comment_section{
        padding: 0.1rem 0rem;
        width: 90%;
        margin: auto;
        margin-top: 1rem;
    }
    .input{
        height: 28px;
        padding-left: 15px;
        font-size: 0.8rem;   
    }
    .post_btn{
        height: 22px;
        width: 40px;
        cursor: pointer;
    }
    .comment_username{
        margin: 0px 8px;
        font-size: 0.6rem;
        font-family: 'Montserrat', sans-serif;
        margin-top: 4px;
    }
    .comment_text{
        margin: 0px;
        width: 100%;
        margin-top: 6px;
        text-align: left;
        margin-left: 2px;
        font-size: 0.7rem;
    }
    .comment_div{
        display: flex;
        align-items: flex-start;
        padding: 0.5rem 1rem;
        width: 81%;
        margin: auto;
        margin-top: 1rem;
    }
}
@media screen and (max-width: 300px){
    .post{
        width: 200px;
    }
    .postedimg{
        height: 240px;
        width: 95%;
    }
    .text{
        font-size: 0.6rem;
    }
    .imgbtn{
        height: 20px;
    }
    .like_comment{
        margin-left: 0px;
        margin-top: 2px;
    }
    .likes{
        margin: 0px;
        font-size: xx-small;
    }
    .date{
        font-size: xx-small;
    }
    .input{
        height: 20px;
        padding-left: 15px;
        font-size: 0.6rem;   
    }
}